OPENROUTER_API_KEY=
APIFY_API_TOKEN=apify_api_Lg3OShrS7lNDG3MGjnMjLVsyHbaNa32y03LF
TAVILY_API_KEY=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
EXA_API_KEY=a20c58d8-8805-47f4-a2b9-6c2ff1ed1fc8
CROWDWISDOM_URL=https://www.crowdwisdomtrading.com/
HERMES_MODEL=openrouter/auto
